:host {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}